.form {
    text-align: center;
    padding: 25px;
    width: 1000px;
    background-color: rgb(228, 228, 228);
    border-radius: 3%;
    box-shadow: 3px 3px 3px rgb(75, 75, 75);
    margin-bottom: 50px;
}